version: "3.8"
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_USER}
    ports:
      - "5432:5432"
    volumes:
      - ./database:/var/lib/postgresql/data
  api:
    build: ./api/
    ports:
      - "3333:3333"
    depends_on:
      - db
    command: yarn start:prod
    volumes:
      - ./api:/usr/src/api/
      - "/usr/src/api/node_modules"
  web:
    build: ./web/
    ports:
      - "4000:80"
    depends_on:
      - api
    volumes:
      - ./web:/usr/src/web/
      - "/usr/src/web/node_modules"
volumes:
  db:
    driver: local
