version: "3.8"
services:
  api:
    build: ./api/
    ports:
      - "3333:3333"
    depends_on:
      - db
    command: yarn start:prod
    volumes:
      - ./api:/usr/src/api/
  web:
    build: ./web/
    ports:
      - "3333:3333"
    depends_on:
      - db
    command: yarn start
    volumes:
      - ./web:/usr/src/web/
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER={$POSTGRES_USER}
      - POSTGRES_PASSWORD={$POSTGRES_PASSWORD}
    ports:
      - "5432:35432"
    volumes:
      - ./database:/var/lib/postgresql/data
volumes:
  db:
    driver: local
