<button (click)="save()">Salvar</button>
<button (click)="filterRepeated()">Filtrar Repetidas</button>
<button (click)="filterMissing()">Filtrar Faltantes</button>
<button (click)="filterUnique()">Filtrar Únicas</button>
<button (click)="fillPlotStickers()">Remover Filtros</button>
<button (click)="copy()">Copiar Figurinhas</button>
<h2>FWC</h2>
<section id="fwc">
  <div *ngFor="let plotStickerFwc of plotStickersFwc">
    <div class="country">
      <h3>{{ plotStickerFwc.country.name }}</h3>
      <div class="stickers">
        <div *ngFor="let sticker of plotStickerFwc.stickers">
          <div
            class="sticker"
            [ngClass]="{
              active: sticker.quantity > 0,
              hard: sticker.quantity > 1
            }"
          >
            <p>{{ sticker.name }}</p>
            <p>{{ sticker.quantity }}</p>
            <button
              (click)="handleChange(sticker.id, sticker.quantity, 'fwc', 'add')"
            >
              +
            </button>
            <button
              (click)="handleChange(sticker.id, sticker.quantity, 'fwc', 'sub')"
            >
              -
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2>Countries</h2>
<section id="countries">
  <div *ngFor="let plotStickerCountry of plotStickersCountries">
    <div class="country">
      <h3>{{ plotStickerCountry.country.name }}</h3>
      <div class="stickers">
        <div *ngFor="let sticker of plotStickerCountry.stickers">
          <div
            class="sticker"
            [ngClass]="{
              active: sticker.quantity > 0,
              hard: sticker.quantity > 1
            }"
          >
            <p>{{ sticker.name }}</p>
            <p>{{ sticker.quantity }}</p>
            <button
              (click)="
                handleChange(sticker.id, sticker.quantity, 'countries', 'add')
              "
            >
              +
            </button>
            <button
              (click)="
                handleChange(sticker.id, sticker.quantity, 'countries', 'sub')
              "
            >
              -
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2>Coca Cola</h2>
<section id="coc">
  <div *ngFor="let plotStickerCoc of plotStickersCoc">
    <div class="country">
      <h3>{{ plotStickerCoc.country.name }}</h3>
      <div class="stickers">
        <div *ngFor="let sticker of plotStickerCoc.stickers">
          <div
            class="sticker"
            [ngClass]="{
              active: sticker.quantity > 0,
              hard: sticker.quantity > 1
            }"
          >
            <p>{{ sticker.name }}</p>
            <p>{{ sticker.quantity }}</p>
            <button
              (click)="handleChange(sticker.id, sticker.quantity, 'coc', 'add')"
            >
              +
            </button>
            <button
              (click)="handleChange(sticker.id, sticker.quantity, 'coc', 'sub')"
            >
              -
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
