<section class="container">
  <form class="form" (ngSubmit)="login()" [formGroup]="form">
    <h2 class="form__title">Login</h2>
    <div class="form-field">
      <label class="form-field__label" for="username">Email</label>
      <input
        class="form-field__input"
        type="email"
        placeholder="Email"
        name="username"
        formControlName="username"
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="password">Senha</label>
      <input
        class="form-field__input"
        type="password"
        name="password"
        formControlName="password"
      />
    </div>
    <div *ngFor="let error of errors">
      <p class="alert">{{ error }}</p>
    </div>
    <div class="button-container">
      <button class="button" type="submit">Entrar</button>
    </div>
  </form>
</section>
