<h1>Faça o Seu Cadastro</h1>
<section class="container">
  <form class="form" (ngSubmit)="create()" [formGroup]="form">
    <div class="form-field">
      <label class="form-field__label" for="name">Nome</label>
      <input
        class="form-field__input"
        type="text"
        placeholder="Nome"
        name="name"
        ormControlName="name"
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="email">Email</label>
      <input
        class="form-field__input"
        type="text"
        placeholder="Email"
        name="email"
        formControlName="email"
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="password">Senha</label>
      <input
        class="form-field__input"
        type="password"
        name="password"
        formControlName="password"
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="passwordCheck"
        >Configrmação de Senha</label
      >
      <input
        class="form-field__input"
        type="password"
        name="passwordCheck"
        formControlName="passwordCheck"
      />
    </div>
    <div class="button-container">
      <button class="button" type="submit">Entrar</button>
    </div>
  </form>
</section>
