name: deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Executa os comandos no servidor
    runs-on: self-hosted
    steps:
      - run: |
          cd /home/admin/www/figurinhas-da-copa
          docker compose stop
          docker compose build web
          docker compose start
